<body class="dark:bg-[#0d1117] min-h-screen">
  <div class="min-w-full bg-slate-200">
    <div
      class="relative z-100 flex justify-between items-center bg-slate-50 dark:text-gray-100 dark:bg-[#0d1117] p-5 font-semibold text-lg shadow-lg dark:shadow-black/30 shadow-slate-200">
      <div class="flex justify-between items-center gap-x-4">
        <a class="p-2 bg-green-600 rounded-md text-white hover:bg-green-700" href="/">View Card</a>
        <a class="p-2 rounded-md border border-gray-300 dark:border-gray-200 dark:text-gray-300 dark:hover:text-white dark:hover:border-white hover:border-gray-400"
          href="/protected">Try
          Protected Page</a>
      </div>

      <div class="flex justify-between items-center gap-x-4">
        <button *ngIf="isUserLoggedIn()" (click)="signOut()" class="dark:text-gray-300 dark:hover:text-white">
          Sign Out
        </button>
        <a *ngIf="!isUserLoggedIn()" href="/login" class="dark:text-gray-300 dark:hover:text-white">
          Login
        </a>
        <a *ngIf="!isUserLoggedIn()" href="/sign-up" class="dark:text-gray-300 dark:hover:text-white">
          Sign Up
        </a>
        <button class="flex transition-transform hover:scale-125 align-middle" (click)="darkMode.set(!darkMode())">
          <span *ngIf="darkMode()">☀️</span>
          <span *ngIf="!darkMode()">🌙</span>
        </button>

      </div>

    </div>


  </div>


  <router-outlet />
</body>